*{
    padding: 0;
    margin: 0;
}
.card{
    background-color: #2c3e50;
    height:100%;
    margin-left: 5em;
    margin-right: 5em;
}
.input{
    text-align: center;
}
.collapse{
    display:none;
}
#form7{
    width: 100%;
    position: absolute;
    top: 0.65rem;
    left: -18%;
    transition: 0.2s ease-out;
    cursor: text;
    color: white;
}
.active{
    display: block;
}
.form-control{
    color: white;
    font-weight: 600;
    font-style: italic;
}
#addedQuotes li{
    text-align: left;
    text-decoration: none;
    display: block;
    color: cornsilk;
    margin-top: 1em;
}
#typeAuthor{
    width: 50%;
    text-align: center;
    font-size: x-large;
}
#typeQuote{
    font-size: x-large;
    text-align: center;
    width: 50%;
    overflow-y: hidden;
    resize: none;
    padding: 0;
}
a{
    color: cornsilk !important;
}
h1{ 
    color: cornsilk !important;
    font-style: italic;
    font-size: 4em;
    font-weight: 600 !important;
}
#author{
    text-align: end;
}
.card-text{
    height: 50px;
    color: cornsilk !important;
    font-size: 1.3em !important;
    font-weight: 400 !important;
    font-style: italic;
    margin: 1.5em;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
}
.card-body{
    padding: 3em;
}
.container-fluid{
    height:100%;
    padding:0 !important;
    margin:0 !important;
}